In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_iris
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [19]:
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['target'] = iris.target
df['species'] = df['target'].map(dict(zip(range(3), iris.target_names)))

In [20]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [21]:
# duplicates
# null values
# eda, visualizations
# corr
# df
df.isna().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
species              0
dtype: int64

In [22]:
scaler = StandardScaler()
scaled_features = scaler.fit_transform(df[iris.feature_names])

In [23]:
df_scaled = pd.DataFrame(scaled_features, columns=iris.feature_names)
df_scaled['target'] = df['target']
df_scaled['species'] = df['species']

In [24]:
df.to_csv("iris_raw.csv",index=False)
df_scaled.to_csv("iris_scaled.csv",index=False)